* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
}

/*  Налаштування блоку універсального контейнера */
.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}


/*  ТУТ МІНЯЄМО КОЛЬОРИ */
:root {
    --bg: #ffffff;
    --text: #111111;
    --accent: #a02e0c;
    --hover: #f5f5f5;
}


/* HEADER */
.header {
    background: var(--bg);
    border-bottom: 1px solid #eee;
    padding: 20px 0;
}

/* FLEX */
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */
.logo img {
    height: 80px;
    transition: 0.3s;
}
.logo img:hover {
    transform: scale(1.05);
}

/* NAV */
.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: var(--text);
    position: relative;
}

/* hover underline */
.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: var(--accent);
    transition: 0.3s;
}

.nav a:hover::after {
    width: 100%;
}

/* BUTTON */
.btn {
    background: var(--accent);
    color: white;
    border: none;
    padding: 10px 24px;
    border-radius: 50px; /* кругла кнопка */
    cursor: pointer;
    transition: 0.3s;
}

/* hover */
.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* OPTIONAL: sticky */
.header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* SECTIONS */
section {
    padding: 60px 0;
}

/*HERO*/ 
.hero-full {
    min-height: 80vh;
    background: url("../img/Mountain.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    text-align: center;
    color: white; 
    position: relative;
    background-attachment: fixed;
    
}

.hero-full::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
}

.hero-full .container {
    position: relative;
}

.hero-full h1 {
font-size: 48px;
margin-bottom: 20px;
}
.hero-full p {
font-size: 20px;
margin-bottom: 30px;
}

.hero-row {
display: flex;
align-items: center;
gap: 40px;
}

.hero-text {
   flex: 1;
}

.hero-img {
   flex: 1;
}

.hero-img img {
width: 100%;
border-radius: 10px;
transition: transform 0.4s ease;
}

.hero-img img:hover {
    transform: scale(1.04);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.hero-split {
padding: 100px 0;
}

.hero-text h1 {
font-size: 40px;
margin-bottom: 20px;
}

.hero-text p {
margin-bottom: 20px;
}

.hero-reversed{
    flex-direction: row-reverse;
}